body {
    background-color: #f0f0f0;
}
h1, h3 {
    font-family: "Courier New", Courier, monospace;
}

.header.top-line {
    height: 40px;
    line-height: 40px;
    background-color: #464646;
}

.margin-top-5 {
    margin-top: 5px;
}

.main-body-container {
    background-color: #fff;
    border: 1px solid #d1d1d1;
}

.caption a {
    color: #444;
}

.img-nerd {
    width: 400px;
}

.page-container {
    background-color: #f0f0f0;
}

.footer {
    position: relative;
    margin-top: 10px; /* negative value of footer height */
    height: auto;
    clear:both;
    padding-top:20px;
    background-color: #464646;
}

.tab-image {
    height: 200px !important;
    width: 300px !important;
}

.footer-header {
    color: #efefef;
}

.footer-list {
    list-style: none;
}

.footer-list li a {
    color: #afafaf;
}

/***
Social Icons
***/
.social-icons li {
    float:left;
    display:inline;
    list-style:none;
    margin-right:5px;
    margin-bottom:5px;
}

.social-icons li a,
a.social-icon {
    width:28px;
    height:28px;
    display:block;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social-icons-color li a {
    opacity: 0.7;
    background-position:0 -38px !important;
}

.social-icons-color li a:hover {
    opacity: 1;
    background-position:0 0 !important;
}

.social-icons .facebook {background: url(../img/facebook.png) no-repeat;}
.social-icons .linkedin {background: url(../img/linkedin.png) no-repeat;}
.social-icons .googleplus {background: url(../img/googleplus.png) no-repeat;}
.social-icons .twitter {background: url(../img/twitter.png) no-repeat;}

/***
Slider
***/
.slider-main {
    z-index: 1;
    position: relative;
    border-bottom: solid 1px #eee;
    max-height:350px !important;
    overflow:hidden;
}
.slide_title_white {
    font-family: 'Open Sans';
    font-weight: 300;
    color:#fff;
    text-align:center;
    text-transform: uppercase;
    font-size:47px;
}

.slide_title_white_bold {
    font-weight: 400;
}

.slide_subtitle_white {
    border-top:1px solid #fff !important;
    border-bottom:1px solid #fff !important;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 5px 10px;
    color:#fff;
    text-align:center;
    text-transform: uppercase;
    font-size:18px;
}
.slider-colored {
    z-index: 1;
    height: 495px !important;
    position: relative;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.slide_title, .slide_subtitle, .slide_desc, .slide_btn{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.slide_title {
    font-family: 'Open Sans';
    font-weight: 300;
    color:#3f5862;
    text-transform: uppercase;
    font-size:47px;
}

.slide_subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px;
    color:#fafafa;
    text-transform: uppercase;
    font-size:18px;
}

.slide_list_item {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px;
    color:#fafafa;
    text-transform: uppercase;
    font-size:14px;
}

.slide_desc {
    color:#7b8793;
    font-size:14px;
    line-height:24px;
}

.slide_desc_bordered {
    border-left: 3px solid #ddd !important;
    padding-left: 5px;
}

.slide_btn {
    font-family: 'Open Sans';
    font-weight: 300;
    background:#6fc561;
    padding:7px 15px;
    color:#fff;
    font-size:14px;
    text-transform: uppercase;
    cursor:pointer;
}

.tp-leftarrow.default {
    background: #d2d7dc url(../img/slider/revolution/arrow_left.png) no-repeat center !important;
    width:40px !important;
    height:50px !important;
}

.tp-rightarrow.default {
    background:  #d2d7dc url(../img/slider/revolution/arrow_right.png) no-repeat center !important;
    width:40px !important;
    height:50px !important;
}
/*archwolf's css for Team Onyxia Page*/
#containerOni{
    height:710px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}
#oniLogo{
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    padding:20px 20px;
    text-align:left;
    width:90%;
    float:left;
    background:#464646;
    color:white;
}
#oniLogo div{
    padding-right:20px;
    float:left;
    display:inline-block;
}
#menu{
    float:left;
    border-radius:10px;
    font-size:20px;
    width:90%;
    height:50px;
    background:#464646;
    color:white;
}
#menu div{
    text-align:left;
    float:left;
    margin-top:10px;
    list-style-type:none;
    margin-left:20px;
}  
#menu div:hover > div {
		display: block;
	}
.submenu{
    padding-top:30px;
    font-size:1.2em;
    margin:50px 50px;
    background:white;
    width:800px;
    border:1px solid #464646;
    border-radius:10px;
    color:#464646;
    float:left;
    margin-left:200px;
}
.submenu div{
    padding-left:20px;
}
.submenu img{
    max-width:300px;
    max-height:200px;
    margin-right:20px;
    margin-bottom:20px;
    float:right;
    display:inline-block;
    border:1px solid #464646;
    border-radius:5px;
}
.oniText{
    padding-left:120px;
    margin-bottom:50px;
}
.sectionOni{
    
    text-align:left;
    width:550px;
    float:left;
    display:inline-block;
    border-bottom:1px solid #464646;
    border-width:10px;
}
.sectionOni div{
    float:left;
    width:210px;
    margin-right:40px;
}

  .sectionOni:last-child div{
    float:left;
    width:90%;
    margin-right:40px;
  }
  .thumb{
      float:left;
      margin-top:100px;
      margin-right:7px;
      

  }
  .thumb div:first-child{
      float:left;
      padding-top:17px;
      padding-left:15px;
  }
  .thumb img{
      border:1px solid white;
      width:30px;
      margin-top:10px;
  }
  .thumb [type="button"]{
       background: -webkit-linear-gradient(90deg, #464646  50% , blue); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(90deg,#464646  50% , blue); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(90deg, #464646  50%, blue); /* For Firefox 3.6 to 15 */
      background: linear-gradient(90deg,#464646 50%, #0088cc); /* Standard syntax (must be last) */
      color:white;
        width:150px;
      height:50px;
      font-size:0.7em;
       border:1px solid #464646;
      border-top-right-radius:5px;
      border-bottom-left-radius:5px;
      margin-right:20px;
  }

body {
    background-color: #f0f0f0;
}

h1, h3 {
    font-family: "Courier New", Courier, monospace;
}

.header.top-line {
    height: 40px;
    line-height: 40px;
    background-color: #464646;
}

.margin-top-5 {
    margin-top: 5px;
}

.main-body-container {
    background-color: #fff;
    border: 1px solid #d1d1d1;
}

.caption a {
    color: #444;
}

.img-nerd {
    width: 400px;
}

.page-container {
    background-color: #f0f0f0;
}

.footer {
    position: relative;
    margin-top: 10px; /* negative value of footer height */
    height: auto;
    clear: both;
    padding-top: 20px;
    background-color: rgba(100, 100, 100, 0.7);
}

.tab-image {
    height: 200px !important;
    width: 300px !important;
}

.footer-header {
    color: #efefef;
}

.footer-list {
    list-style: none;
}

.footer-list li a {
    color: #f5f5f5;
}

.footer .footer-separator {
    height: 150px;
    border-left: 1px solid #f5f5f5;
    display: inline-block;
    margin-bottom: 20px;
}

/***
Social Icons
***/
.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

.social-icons li a,
a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 15px;
    border: 2px solid rgba(255, 200, 0, 1);
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.social-icons-color li a {
    opacity: 0.7;
    background-position: 0 -38px !important;
}

.social-icons-color li a:hover {
    opacity: 1;
    background-position: 0 0 !important;
}

.social-icons .facebook {
    background: url(../img/facebook.png) no-repeat;
}

.social-icons .linkedin {
    background: url(../img/linkedin.png) no-repeat;
}

.social-icons .googleplus {
    background: url(../img/googleplus.png) no-repeat;
}

.social-icons .twitter {
    background: url(../img/twitter.png) no-repeat;
}

/***
Slider
***/
.slider-main {
    z-index: 1;
    position: relative;
    border-bottom: solid 1px #eee;
    max-height: 350px !important;
    overflow: hidden;
}

.slide_title_white {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 47px;
}

.slide_title_white_bold {
    font-weight: 400;
}

.slide_subtitle_white {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.slider-colored {
    z-index: 1;
    height: 495px !important;
    position: relative;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.slide_title, .slide_subtitle, .slide_desc, .slide_btn {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.slide_title {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #3f5862;
    text-transform: uppercase;
    font-size: 47px;
}

.slide_subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 18px;
}

.slide_list_item {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 14px;
}

.slide_desc {
    color: #7b8793;
    font-size: 14px;
    line-height: 24px;
}

.slide_desc_bordered {
    border-left: 3px solid #ddd !important;
    padding-left: 5px;
}

.slide_btn {
    font-family: 'Open Sans';
    font-weight: 300;
    background: #6fc561;
    padding: 7px 15px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.tp-leftarrow.default {
    background: url(../img/slider/revolution/arrow_left.png) no-repeat center !important;
    width: 40px !important;
    height: 50px !important;
}

.tp-rightarrow.default {
    background: url(../img/slider/revolution/arrow_right.png) no-repeat center !important;
    width: 40px !important;
    height: 50px !important;
}

.socContacts li:nth-of-type(1) a {
    background: url('../img/contactsSocial.png') no-repeat;
    background-position: 0px 0px;
}

.socContacts li:nth-of-type(2) a {
    background: url('../img/contactsSocial.png') no-repeat;
    background-position: -43px 0px;
}

.socContacts li:nth-of-type(3) a {
    background: url('../img/contactsSocial.png') no-repeat;
    background-position: -87px 0px;
}

.socContacts {
    display: block;
    list-style-type: none;
}

.socContacts li {
    float: left;
}

.socContacts li a {
    width: 36px;
    height: 36px;
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition-property: all 0.2s ease; /* Firefox 4 */
    -webkit-transition-property: all 2s ease; /* Safari and Chrome */
    -o-transition-property: all 0.2s ease; /* Opera */
}

.socContacts li a:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#map_canvas {
    width: 100%;
    height: 100%;
    background-color: #CCC;
    border: 1px solid rgba(100, 100, 100, 0.7);
}

#map_Grad {
    width: 10%;
    height: 100%;
    background-color: #CCC;
    margin-right: 0px;
}

.inter_active {
    background-size: 100% 200%;
    transition: all 0.2s ease;
    text-indent: 20px;
    width: 100%;
    height: 170px;
    border-radius: 25px 25px 0 0;
    border-bottom: 1px solid #000;

}

.inter_active:hover {
    background-position: 100% 100%;
}

.clicked {
    position: relative;
    top: 0;
    transition: all 0.2s ease;
    color: red;
    opacity: 0;
}

.inter_active:hover .clicked {
    top: 70px;
    opacity: 1;
}

.why-container {
    width: 70%;
    border: 1px solid red;
    background-color: #EEEEEE;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
}

.why-table {

}

.why-top-line-1 {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.4;
}

.why-top-line-shadow {
    width: 100%;
    height: 20px;
    background-image: url(../img/slider/revolution/shadow1.png);
    opacity: 0.3;
    background-size: 100% 100%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.why-title {
    color: #7FAAFF;
    text-shadow: 1px 2px 2px #BDBDBD;
}

.why-content {
    line-height: 1.5;
    color: darkred;
    font-style: italic;
}

.why-circles {
    width: 100%;
    height: 40px;
    background-image: url(../img/slider/restricter.png);
    background-repeat: no-repeat;
    opacity: 0.7;
    background-size: contain;
}

.why-row {
    background: -webkit-linear-gradient(90deg, rgba(230, 230, 230, 0.1), rgba(150, 150, 150, 0.3), rgba(230, 230, 230, 0.1));
}

.why-top-content {
    padding-left: 50px;
    padding-right: 50px;
}

.why-bottom-title {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(100, 100, 100, 0.8);
}

.why-white-line {
    margin-bottom: 20px;
}

.why-thumbnail {
    border-radius: 25px 25px 0 0;
}

.why-thumbnail-title {
    color: #557FFF;
}

.why-thumbnail a {
    color: #557FFF;
}

.why-thumbnail .bottom {
    background: -webkit-linear-gradient(180deg, rgba(100, 100, 100, 1), rgba(150, 150, 150, 1), rgba(100, 100, 100, 1));
    width: 100%;
    height: 15%;
    margin: 0px 0px 0px 0px;
}

.why-thumbnail .bottom .baloon {
    width: 30px;
    height: 20px;
    background-image: url(../img/baloonIcon.png);
    background-size: 100% 100%;
    margin: 1px 1px 1px 1px;
}

.why-thumbnail-shadow {
    width: 100%;
    height: 20px;
    background-image: url(../img/shadow2.png);
    background-size: 100% 100%
}
.figureImage {
    padding: 30px;
    text-align: center;
    background-color:#f0f0f0;
}

.figureImage  figcaption {
    background-color:rgba(0, 0, 0, 0.8); 
    color:white;
    border-radius:15px 0 15px 15px;
    width:40%;
    margin-left:30%;
    margin-bottom:2%;
    padding: 2%;
    font-size: 20px;
}

.figureImage img {
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}

.SoftUniJokesList {
    background-color: #f0f0f0;
    color: white;
    
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.SoftUniJokesList li {
    background-color: #444;
    list-style-position: inside;
    margin: 10px;
    padding: 10px;
    border-radius: 15px 0 15px 15px;
}

.logo a {
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.logo a:hover {
    text-decoration: none;
}

/* validators */

.html5Validator {
    background:url(../img/validators/W3CHTML.png);
    border:none;
    padding:0;
    width:82px;
    height:17px;
}

.css3Validator {
    background:url(../img/validators/W3CCSS.png);
    border:none;
    padding:0;
    width:82px;
    height:17px;
}

.knows-html {
    font-size: 18px;
}

.index-jokes .joke {
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
}

.index-jokes .joke:hover {
    background-color: #4e4e4e;
    color: #fff;
    transition: background-color 0.4s ease-in;
    /*transition: color 0.5s ease;*/
}

.thumbnail {
    min-height: 400px;
}

.index-why-list {
    list-style: none;
    text-align: left;
}

.caption_joke {
    font-weight: bold;
}

.Headings {
    text-align:center;
    font-family:"Courier New", Courier, monospace;
}